@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --button-color:rgb(230, 83, 60);
    --paragraph-color:rgba(255, 255, 255, 0.5);
    --text-color: rgb(255, 255, 255)
}

body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    
}

header{
    background: #232323;
}
/* navbar */
.navbar{
    width: 80%;
    margin: 0 auto;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;

}
.logo{
    font-size: 2rem;
    color: var(--button-color);
}
.nav-div{
    border: 1px solid rgb(82, 81, 81);
    padding-right: 0.5rem ;
    border-radius: 40px;
    display: flex;
    align-items: center;

}
.nav-items{
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--text-color);
    margin: 0.2rem ;

}
.nav-items a li{
    color: var(--text-color);
}
#active{
    background-color: var(--button-color);
    padding: 1rem 2.5rem;
    border-radius: 40px;
 }
 .icon{
     display: none;
 }
 
 /* hero section  */
 
 .fitness-main-container{
     width: 80%;
     margin: 0 auto;
     display: flex; 
     justify-content: center;
     gap: 10px;
 }
 .fitness-left{
     width: 50%;
     margin-top: 3rem;
 }
 .fitness-left h1{
     font-size: 4rem;
     color: var(--text-color);
 }
 .fitness-left p{
     font-size: 16px;
     margin: 1rem 0;
     color: var(--paragraph-color);
 }
 .fitness-text{
     font-family: "Dancing Script", cursive;
 }
 .join-btn{
     padding: 0.5rem 1.5rem ;
     border-radius: 40px;
     border: none;
     margin: 1rem;
     background-color: var(--button-color);
     color: var(--text-color);
     font-size: medium;
     font-weight: 500;
     cursor: pointer;
 }
 .app-btn{
     padding: 1rem 1.5rem ;
     border-radius: 40px;
     border: 1px solid var(--paragraph-color) ;
     margin: 1rem;
     background: transparent;
     color: var(--text-color);
     font-size: medium;
     font-weight: 500;
     cursor: pointer;
 }
 
 
 .fitness-image-div{
     width: 50%;
     position: relative;
 }
 .fitness-image-div img{
 
     height: 470px;
     width: 300px;
 }
 
 .image-div{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .card-1-fitness{
     position: absolute;
     bottom: 25%;
     left: 2%;
     text-align: start;
     background: rgba(255, 255, 255, 0.1);
     backdrop-filter: blur(2px);
     padding: 1rem;
     border-radius: 10px;
     color: var(--text-color);
     display: flex;
     gap: 10px;
     justify-content: center;
     align-items: center;
 }
 .circle{
     height: 2rem ;
     width: 2rem;
     background: var(--button-color);
     border-radius: 50%;
     
 }
 .circle>i{
    display: none;
 }
 .card-2-fitness{
     position: absolute;
     top: 18%;
     right: 10%;
     background: rgba(255, 255, 255, 0.1);
     backdrop-filter: blur(2px);
     padding: 1rem;
     border-radius: 10px;
     color: var(--text-color);
 }
 .card-2-fitness >div p,.card-1-hero >div p{
    font-size: 13px;
    color: var(--paragraph-color);
 }
 .fitness-tow-btn{
     display: flex;
    
 }
 
 /* your habit section  */
 main{
     background-color: #000000;
     color: var(--text-color);
     padding: 3rem 0;
 }
 main p{
    
     color: var(--paragraph-color);
 }
 
 .your-habit-header{
     width: 50%;
     margin: 0 auto;
     text-align: center;
     padding: 3rem 0;
     
     
 }
 .your-habit-header p{
    margin: 1rem;
     
 }
 .your-habit-header h1, .team-header h1{
    font-size: 40px;
    margin: 1rem 0;
     
 }
 
 .habit-card{
     width: 80%;
     margin: 1rem auto;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
 }
 .card-1{
     text-align: center;
     
 }
  
 
 .card-1 img{
     border-radius: 50%;
     margin-bottom: 1rem;
 }
 
 /* Extra-Mile-Easily */
 .Extra-Mile-Easily{
     width: 80%;
     margin: 0 auto;
     border-radius: 18px;
     background: rgb(34, 34, 34);
     padding: 2rem;
     margin-top: 4rem;
     display: flex;
     justify-content: space-between;
     gap: 2rem;
 }
 .Mile-Easily-image-div{
 
 }
 .Mile-Easily-image-div img{
     height: 250px;
     width: 350px;
     border-radius: 15px;
 
 }
 
 .Mile-Easily-header {
     width: 350px;
 }
 .Mile-Easily-header h1{
     font-size: 48px;
     margin: 1rem 0;
 }
 .Mile-Easily-header p{
     font-size: 16px;
     margin: 1rem 0;
 }
 .Mile-Easily-header button{
     padding: 1rem 2.5rem;
     background-color: var(--button-color);
     border: none;
     border-radius: 40px;
     font-size: larger;
     color: var(--text-color);
     cursor: pointer;
 }
 /* BMI-Calculator- */

.BMI-Calculator-container{
    background: rgb(34, 34, 34);
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BMI-Calculator-container>div{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0 0.5rem;
    
}
.BMI-Calculator-main{
     width: 70% ;
    margin: 0 auto;
}
.BMI-Calculator-header{
    width: 50%;
    margin:0 auto;
    padding: 3rem 0;
}
.BMI-Calculator-header h1{
    font-size: 40px;
    padding: 0.5rem 0;
}

table{
    border-collapse: collapse;
    margin-top: 1.5rem;
    color: var(--paragraph-color);
}
th,td{ 
     border: 1px solid  rgba(255, 255, 255, 0.1);
     padding: 8px 10px;
     
}
.BMI-Calculator-main{
    padding: 1.5rem 0;
}

.Calculate-BMI{
    
}
.Calculate-BMI>h1 ,.Calculate-BMI p{
    margin: 1.5rem 0;
}
.input-div{
    width: 100%;
    padding: 1rem;
}
.input-div-1 input{
    padding: 0.8rem 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    color: var(--text-color);
    width: calc(50% - 0.2rem);
    
}

.input-div-2 input{
    padding: 0.8rem 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    color: var(--text-color);
    width: 50%;
      
}
.input-div-2{
    padding: 0.8rem 0;  
    
}

.input-div-1 input:focus,.input-div-2 input:focus ,.input-div-2 select:focus, .full-input:focus {
    outline: none;
}
.input-div-2 select{
    width: calc(50% - 0.5rem);
    padding: 0.8rem 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    color: gray;
} 
.full-input{
    width: 100%;
    padding: 0.8rem 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    color: gray;
} 
.input-div button{
     padding: 0.8rem 2.5rem;
     background-color: var(--button-color);
     border: none;
     border-radius: 40px;
     font-size: larger;
     color: var(--text-color);
    margin: 1rem 0;
    cursor: pointer;
}

/* team-container */
.team-main-container{
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
}
.team-header{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 1.5rem ;
    
}
.ours-team-members{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    padding: 1rem;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
    
}


.member1,.member2, .member3,
.member4,.member5,.member6{
  position: relative;  
}

.ours-team-members div img{
   width: 100%;
   height: 100%;
   border-radius: 10px;
}
.grid-text{
   position: absolute;
   bottom: 1rem;
   left: 0px;
   margin: 1rem;
}

/* footer  */

footer{
    background-color: #191919;
}

.main-div-footer{
    width: 80%;
    margin: 0 auto;
}
.div1-footer{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.right-div-footer{
    display: flex;
    justify-content: space-between;
    width: 40%;
    gap: 14px;
}
.div1-footer h1{
    margin: 1.5rem 0;
    color: var(--text-color);
}
.div1-innerdiv-1{
    width: 60%;
    padding: 0.5rem 0;
}
.div1-innerdiv-1 h1{
    font-size: 50px;
    color: var(--button-color);
}
.div1-innerdiv-1 p{
    font-size: 18px;
    color: var(--paragraph-color);
    padding-right:3rem ;
}
.div1-innerdiv-2 ul a li, .div1-innerdiv-3 ul a li{
    color: var(--paragraph-color);
    font-size: 20px;
    margin: 1rem 0;
}
.line{
    border: 1px solid #2f2f2f;
    margin: 0.5rem 0;
}
.div2-footer{
    color: var(--paragraph-color);
    text-align: center;
    font-size: 18px;
    padding: 1rem 0;
}
/* Price *
.price-container{
    width: 80%;
    margin: 0 auto;
    background-color: #191919;
    padding: 1rem;
    border-radius: 20px;
    
}


.header-price{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 1.5rem 0;
}
.header-price p{
    
    margin: 0.7rem 0;
   
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    
}

.card{
    height: auto;
    background: linear-gradient(45deg, rgb(222, 249, 196) 0%, rgb(156, 219, 166) 25%, rgb(80, 180, 152) 75%,rgb(70, 133, 133)   100% );
    color: var(--text-color);
    padding: 1.5rem ;
    border-radius: 10px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    
}

.card::after{
    content: " ";
    height:0px;
    width: 0px;
    background: linear-gradient(45deg, rgb(90, 99, 156) 0%, rgb(119, 118, 179) 25%, rgb(155, 134, 189) 75%,rgb(226, 187, 233) 100% );
    top: 50%;
    left: 45%;
    position: absolute;
    z-index: 5;
    border-radius: 0;
 }
.card:hover::after{
    top:0px;
    left: 0px;
    height:100%;
    width: 100%;
   transform: translateX();
    transition:0.3s ease-in ;
 }

.card p{
    color: white;
    position: relative;
    z-index:10;
}
.card h1,h3,span,hr,a>button{
    z-index:10;
    position: relative;
    
}

.card span{
    color: blanchedalmond;
    position: relative;
   
}
.card hr{
    border: 1px solid blanchedalmond;
    margin: 1rem 0;
    position: relative;
    
}

.card a button{
    padding: 1rem 1.5rem;
    background:linear-gradient(90deg, #009688 0%, #8BC34A 100%);
    color: var(--text-color);
    font-size: medium;
    margin: 1rem 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    
}
.card:hover a>button{
    background:linear-gradient(45deg, rgb(226, 187, 233) 0%, rgb(119, 118, 179) 100%);
    transition:0.3s ease-in-out ;
}
    /*   */








@media  (max-width: 576px) { 

    h1, .Mile-Easily-header>h1, .BMI-Calculator-header h1,.card h1{
        font-size: 30px;
    }
    .hero-left>h1{
        font-size: 48px;
    }
    .card-2-hero >div p,.card-1-hero >div p{
        font-size: 10px;
        color: var(--paragraph-color);
    }
   .card-2-hero >div h1{
        font-size: 30px;
       
    }
    .navbar ,.hero-left , .hero-image-div,
    .hero-main-container,.card-1,.your-habibt-header,
    .Mile-Easily-header, .Mile-Easily-header button,.BMI-Calculator-header,
    .Calculate-BMI, .BMI-Calculator-main, .team-header
    {
        width: 100%;
        padding: 1rem 0.7rem;
    }
    .nav-div{
        display: none;
    }
    .icon{
        display: block;
        color: var(--text-color);
        
    }
    .fa-bars{
        font-size: 30px;
        
    }
    .hero-main-container , .habit-card ,.Extra-Mile-Easily, 
    .BMI-Calculator-container>div , .right-div-footer, .div1-footer,.cards{
        flex-direction: column;
    }
    .nav{
        height: fit-content;
    }
    .fitness-tow-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .join-btn{
       font-size: 15px;
       padding: 1rem 0.5rem;
       width: 50%;
       margin: 0;
       
    }
    .app-btn{
       font-size: 15px;
       padding: 1rem 0.5rem;
       width: 50%;
       margin: 0;
       
    }
    .card-1-hero{
        position: absolute;
        bottom: 40%;
        left: 0%;
        text-align: start;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(2px);
        padding: 0.7rem;
        border-radius: 10px;
        color: var(--text-color);
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        
    }

    .circle{
        display: flex;
         justify-content: center;
       align-items: center;
    }
    .circle i{
       display: block;
      
      
    }
    .card-2-hero{
        position: absolute;
        top: 10%;
        right: 0%;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(2px);
        padding: 0.7rem;
        border-radius: 10px;
        color: var(--text-color);
        
    }
    .card-2-hero h1,.card-1-hero h1 {
        font-size: 18px;

    }
    .card-2-hero p ,.card-1-hero p{
        font-size: 10px;

    }
    .Mile-Easily-imge-div img{
        border-radius: 10px;
    }
    .input-div,.div1-innerdiv-1 p {
        padding: 0;
        text-align: justify;
    }
    .ours-team-members{
        grid-template-columns: repeat(1,1fr);
    }
    .Extra-Mile-Easily, .team-main-container,.price-container{
        width: 90%;
    }
    .Extra-Mile-Easily{
        padding: 0.5rem;
    }
    .ours-team-members,.div1-innerdiv-1,.right-div-footer,
    .ours-team-members div img, .header-price,.Mile-Easily-imge-div img, .hero-tow-btn{
        width: 100%;
    }
     
}



















